
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

@import "bootstrap";

header {
  border-top: 9px solid #222222;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  letter-spacing: -1.5px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  letter-spacing: -1.5px;
}

hr {
  clear: both;
  border-top: 9px solid #222222;
}

h2 span {
  color: #dddddd;
  font-family: 'Indie Flower', cursive;
}

.clear {
  clear: both;
}

.logo:hover {
  text-decoration: none;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, Serif;
  font-style: italic;
  padding-top: 26px;
}

.about {
   font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, Serif;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 0.2px solid #ed9393;
  margin-right: 20px;
}

.next-quote {
  color:#f84342;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 15px;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

::selection {
  background-color: #f84342;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}